.teams {
  padding: 25px;
  border-top: none;
}

.cardsList {
  display: flex;
  padding: 0;
  margin-bottom: 0;
  list-style: none;
  flex-wrap: wrap;
  font-size: 16px;
  line-height: 16px;
  color: #666;
}

.cardsItem:not(:last-child) {
  margin-right: 25px;
}

.cardsItem:nth-child(6n) {
  margin-right: 0;
}

.cardsItem {
  margin-bottom: 25px;
  padding: 15px;
  width: 15.4%;
  min-height: 170px;
  border: 1px solid black;
  background-image: url("../../../public/img/5043402.png");
  background-repeat: no-repeat;
  background-position: 50% 83%;
  background-size: 110px;
}

.cardsItem p {
  margin: 0;
  padding-bottom: 15px;
  text-align: center;
}

.message {
  padding: 15px;
  color: grey;
}

@media (max-width: 1715px) {
  .cardsItem {
    max-width: 15.0%;
  }
}

@media (max-width: 896px) {
  .cardsItem {
    max-width: 14.1%;
  }

  .cardsItem {
    min-height: 190px;
  }
}

@media (max-width: 414px) {
  .teams {
    padding: 10px;
  }

  .cardsItem {
    min-width: 46.5%;
    min-height: 170px;
  }

  .cardsItem:nth-child(6n) {
    margin-right: 25px;
  }

  .cardsItem:nth-child(2n) {
    margin-right: 0;
  }
}
