.calendarBox {
  padding: 15px;
}

.leagueMatches {
  display: flex;
  position: relative;
}

.arrow {
  position: absolute;
  top: 23px;
  left: 45px;
  transform: rotate(270deg);
}

.name {
  padding-left: 27px;
}

.head {
  margin: 0;
  margin-bottom: 10px;
  font-weight: 600;
}

.text {
  padding-right: 10px;
}

.inputDate {
  padding-right: 10px;
}

.filter {
  margin-bottom: 15px;
}
