.leagues {
  padding: 15px;
  border-top: none;
}

.cardsList {
  display: flex;
  padding: 0;
  margin-bottom: 0;
  list-style: none;
  flex-wrap: wrap;
  font-size: 16px;
  line-height: 16px;
  color: #666;
}

.cardsItem:not(:last-child) {
  margin-right: 15px;
}

.cardsItem:nth-child(3n) {
  margin-right: 0;
}

.cardsItem {
  margin-bottom: 15px;
  padding: 40px 42px 32px 45px;
  width: 32.6%;
  min-height: 150px;
  border: 1px solid black;
}

.message {
  padding: 15px;
  color: grey;
}

@media only screen and (min-width: 450px) {
	.headerItem {
		width: 50%;
	}
}

@media only screen and (min-width: 768px) {
	.headerItem {
		width: 33.333%;
	}
}

@media only screen and (min-width: 1000px) {
	.headerItem {
		width: 25%;
	}
}
