.leagues {
  padding: 25px;
  border-top: none;
}

.cardsList {
  display: flex;
  padding: 0;
  margin-bottom: 0;
  list-style: none;
  flex-wrap: wrap;
  font-size: 16px;
  line-height: 16px;
  color: #666;
}

.cardsItem:not(:last-child) {
  margin-right: 25px;
}

.cardsItem:nth-child(3n) {
  margin-right: 0;
}

.cardsItem {
  margin-bottom: 15px;
  padding: 40px 42px 32px 45px;
  width: 32.1%;
  min-height: 150px;
  border: 1px solid black;
}

.message {
  padding: 15px;
  color: grey;
}

@media (max-width: 1421px) {
  .cardsItem {
    width: 32%;
  }
}

@media (max-width: 896px) {
  .cardsItem {
    width: 31.3%;
  }
}

@media (max-width: 414px) {
  .leagues {
    padding: 10px;
  }

  .cardsItem{
    padding: 10px;
    width: 46.0%;
  }

  .cardsItem:nth-child(3n) {
    margin-right: 25px;
  }

  .cardsItem:nth-child(2n) {
    margin-right: 0;
  }

}
