.header {
  border-bottom: 2px solid black;
}

.headerList {
  display: flex;
  margin: 0;
  padding-left: 0;
  background-color: rgb(220, 220, 220);
}

.headerLink {
  text-decoration: none;
  justify-content: start;
}

.headerLink:focus {
  text-decoration: none;
  justify-content: start;
  color: blue;
}

.headerItem {
  padding: 25px;
  list-style-type:  none;

}
