.header {
  border-bottom: 2px solid black;
}

.headerList {
  display: flex;
  margin: 0;
  padding-left: 0;
  background-color: rgb(220, 220, 220);
}

.headerLink {
  text-decoration: none;
  justify-content: start;
}

.headerLink {
  position: relative;
}

.headerLink:after {
  display: block;
	position: absolute;
	left: 0;
	width: 0;
	height: 1px;
	background-color: #0b7d9d;
	content: "";
	transition: width 0.3s ease-out;
}

.headerLink:hover:after {
	width: 100%;
}

.headerLink:hover {
  color: #0b7d9d;
  transition: width 0.3s ease-out;
}

.headerItem {
  padding: 25px;
  list-style-type:  none;
}

.headerLogo {
  padding: 5px;
  list-style-type:  none;
}

.logo {
  width: 65px;
  height: 65px;
  background-image: url("../../../public/img/5043402.65.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}
